<?xml version="1.0"?>
<!-- Base -->
<launch>
  <!-- For setting debug level to debug -->
  <env name="ROSCONSOLE_CONFIG_FILE" 
       value="$(find usv_gazebo)/config/custom_rosconsole.conf"/>

  <!-- Command line arguments -->
  <arg name="gui" default="true" />
  <arg name="name" default="usv" />
  <arg name="imu" default="true" />
  <arg name="gps" default="true" />
  <arg name="p3d" default="true" />
  <arg name="microstrain" default="true" />
  
  <param name="use_sim_time" value="true" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sailboat_gazebo)/worlds/ocean.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="true"/>
  </include>
  
  <arg name="urdf" default="$(find usv_gazebo)/urdf/usv_gazebo_base.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg urdf) imu:=$(arg imu) gps:=$(arg gps) microstrain:=$(arg microstrain) p3d:=$(arg p3d)"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- Spawn robot in gazebo -->
  <node name="spawn_usv_model" pkg="gazebo_ros" type="spawn_model"
	args="-x 0.0 -y 0.0 -z 1.0 -R 0.0 -P 0.0 -Y 0.0 -unpause -urdf -param robot_description -model mobile_base"/>

</launch>
