*~
*.out
*.pyc
*.[oa]
cmake-build-debug/*
/CMakeLists.txt
.idea/
.vscode/
SAILBOAT.config
SAILBOAT.creator
SAILBOAT.files
SAILBOAT.includes
SAILBOAT.creator.user
sailboat.config
sailboat.creator
sailboat.files
sailboat.includes
sailboat.creator.user

