<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_imu_gazebo" params="name">
    <gazebo>
      <!-- Either plugin should work -->
      <!--<plugin name="imu_plugin_${name}" filename="libgazebo_ros_imu.so">-->
    <plugin name="imu_plugin_${name}" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <frameName>base_link</frameName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
    </gazebo>
  </xacro:macro>
</robot>
