<?xml version="1.0"?>
<launch>
    <node pkg="avoidance_v2" type="avoidance_v2" name="avoidance_v2"/>
    <!--node pkg="avoidance_v2" type="obs_msg" name="obs_msg"/-->
    <node pkg="avoidance_v2" type="detection_mock" name="detection_mock"/>
    <node pkg="avoidance_v2" type="obstacle_publisher" name="obstacle_publisher"/>
    <node pkg="autopilot" type="autopilot" name="autopilot"/>
    <node pkg="environment_simulation" type="wind_simulation_pub" name="sind_simulation_pub"/>
    <!--node pkg="autopilot" type="autopilot" name="autopilot"/-->
    <node pkg="sailboat_simulation" type="sailboat_simulation_ver1" name="sailboat_simulation"/>
</launch>