<launch>
    <!-- env name="ROS_HOSTNAME" value="sjtu-OptiPlex.local"/-->
    <!-- env name="ROS_MASTER_URI" value="http://sjtu-sailboat.local:11311"/>
    <! --node pkg="sailboat_sensor" type="WeatherStation_Talker.py" name="WTST_Talker"/-->
    <node pkg="rosbag" type="record" name="bag_record" args="/WTST"/>
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/WTST/PosX"/>
</launch>
