<launch>
    <node pkg="sailboat_sensor" type="Ahrs_Talker.py" name="Ahrs_Talker"/>
    <node pkg="sailboat_sensor" type="WeatherStation_Talker.py" name="WTST_Talker"/>
    <node pkg="rosbag" type="record" name="bag_record" args="/WTST /Ahrs"/>
    <!-- node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/WTST/PosX"/ -->
</launch>