<?xml version="1.0"?>
<robot name="sailboat" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="sailboat_base">
  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find sailboat_gazebo)/urdf/materials.xacro" />

  <!-- PROPERTY LIST -->
  <!--All units in m-kg-s-radians unit system -->
  <property name="M_PI" value="3.1415926535897931" />

  <!-- BASE-FOOTPRINT -->
  <!-- base_footprint is a fictitious link(frame) that is on the ground right below base_link origin, navigation stack depends on this frame -->
  <link name="base_footprint">
  <inertial>
    <mass value="0.0001" />
    <origin xyz="0 0 0" />
    <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
             iyy="0.0001" iyz="0.0"
             izz="0.0001" />
  </inertial>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <box size="0.001 0.001 0.001" />
    </geometry>
  </visual>
  </link>

  <gazebo reference="base_footprint">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <!-- BASE-LINK -->
  <!--Actual body/chassis of the robot-->
  <link name="base_link">
    <inertial>
      <mass value="15.3" />
      <!--This is the pose of the inertial reference frame, relative to the link reference frame. The origin of the inertial reference frame needs to be at the center of gravity. The axes of the inertial reference frame do not need to be aligned with the principal axes of the inertia.-->
      <origin xyz="0 0 0" />
      <!--The 3x3 rotational inertia matrix. Because the rotational inertia matrix is symmetric, only 6 above-diagonal elements of this matrix are specified here, using the attributes ixx, ixy, ixz, iyy, iyz, izz.-->
      <inertia ixx="5" ixy="0" ixz="0" iyy="10" iyz="0" izz="5" />
      <!-- <inertia ixx="2.002" ixy="0" ixz="-0.226" iyy="10" iyz="0" izz="1.535" /> -->
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.5 0.4 0.4"/>
      </geometry>
      <material name="DarkGray" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size = "1.5 0.6 0.6"/> <!--making it slightly bigger in x and z direction-->
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/FlatBlack</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- Sail -->
  <link name="sail">
    <gravity>0</gravity>
    <visual>
      <geometry>
        <box size="0.4 0.1 1.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.75"/>
      <material name="White"/>
    </visual>
  </link>

  <gazebo reference="sail">
    <material>Gazebo/White</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- Rudder -->
  <link name="rudder">
    <gravity>0</gravity>
    <visual>
      <geometry>
        <box size="0.1 0.05 0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.05 0 -0.1"/>
      <material name="Blue"/>
    </visual>
  </link>

  <gazebo reference="rudder">
    <material>Gazebo/Bule</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <link name="GPS">
    <visual>
      <geometry>
        <cylinder length="0.01" radius="0.01"/>
      </geometry>
    </visual>
  </link>

  <link name="AHRS">
    <visual>
      <geometry>
        <cylinder length="0.01" radius="0.01"/>
      </geometry>
    </visual>
  </link>

  <link name="WTST">
    <visual>
      <geometry>
        <cylinder length="0.01" radius="0.01"/>
      </geometry>
    </visual>
  </link>

  <joint name="boat_to_sail" type="fixed">
    <parent link="base_link"/>
    <child link="sail"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.2 0 .3"/>
  </joint>

  <joint name="boat_to_rudder" type="fixed">
    <parent link="base_link"/>
    <child link="rudder"/>
    <axis xyz="0 0 1"/>
    <origin xyz="-0.75 0 -0.1"/>
  </joint>

  <joint name="boat_to_GPS" type="fixed">
    <parent link="base_link"/>
    <child link="GPS"/>
    <origin xyz="0.5 0 0.2"/>
  </joint>

  <joint name="boat_to_AHRS" type="fixed">
    <parent link="base_link"/>
    <child link="AHRS"/>
    <origin xyz="0 0 0.2"/>
  </joint>

    <joint name="boat_to_WTST" type="fixed">
    <parent link="base_link"/>
    <child link="WTST"/>
    <origin xyz="-0.75 0 0.2"/>
  </joint>


  <!-- Define a location for the camera to sit -->
  <xacro:property name="camera_size" value="0.05" /> <!-- Size of square 'camera' box -->

  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.75 0 0.2" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <link name="camera_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${camera_size} ${camera_size} ${camera_size}"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${camera_size} ${camera_size} ${camera_size}"/>
        </geometry>
        <material name="red"/>
      </visual>
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
  </link>
  <gazebo reference="camera_link">
    <material>Gazebo/Red</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- Define a location for the laser to sit -->
  <xacro:property name="laser_size" value="0.05" /> <!-- Size of square 'camera' box -->

  <joint name="laser_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="0.0 0 0.2" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="laser_link"/>
  </joint>

  <link name="laser_link">
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <box size="${laser_size} ${laser_size} ${laser_size}"/>
          </geometry>
      </collision>
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <box size="${laser_size} ${laser_size} ${laser_size}"/>
          </geometry>
          <material name="red"/>
      </visual>
      <inertial>
          <mass value="1e-5" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
  </link>
  <gazebo reference="laser_link">
      <material>Gazebo/Red</material>
      <turnGravityOff>false</turnGravityOff>
  </gazebo>
  </xacro:macro>
</robot>