<launch>
    <node pkg="environment_simulation" type="wind_simulation_pub" name="sind_simulation_pub"/>
    <node pkg="scanning" type="scanning" name="scanning"/>
    <node pkg="sailboat_simulation" type="sailboat_simulation_ver1" name="sailboat_simulation"/>

    <arg name="model" default="$(find xacro)/xacro.py '$(find sailboat_tf_tree)/urdf/sailboat001.urdf'"/>
    <arg name="gui" default="False" />
    <param name="robot_description" command="$(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
    </node>
    <node name="state_publisher" pkg="sailboat_tf_tree" type="state_publisher" output="screen" />
</launch>