<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="sailboat_gazebo" params="name">
        <!--Gazebo Plugin for simulating sailboat dynamics-->
        <gazebo >
            <plugin name="sailboat_dynamics_${name}" filename="libsailboat_gazebo_dynamics_plugin.so">
                <bodyName>base_footprint</bodyName>
                <waterLevel>5.0</waterLevel>
                <waterDensity>997.8</waterDensity>
                <cmdTimeout>1.0</cmdTimeout>

                <g>9.81</g>
                <rou>1025</rou>
                <roul>1.29</roul>

                <!--sailboat-->
                <m>15.3</m>
                <Ix>2.002</Ix>
                <Iz>1.535</Iz>
                <Ixz>-0.226</Ixz>
                <x_g>-0.051</x_g>
                <y_g>0</y_g>
                <z_g>0.069</z_g>
                <a11>1.825</a11>
                <a22>35.568</a22>
                <a24>-0.083</a24>
                <a26>-2.784</a26>
                <a44>0.788</a44>
                <a46>-0.013</a46>
                <a66>3.692</a66>
                <GMt>0.215</GMt>

                <!--keel-->
                <Ak>0.0405</Ak>
                <x_k>0</x_k>
                <y_k>0</y_k>
                <z_k>0.147</z_k>

                <!--hull-->
                <Ah>0.314</Ah>
                <x_h>-0.051</x_h>
                <y_h>0</y_h>
                <z_h>0</z_h>
                <k1>35.72</k1>
                <k2>17.86</k2>

                <!--Rudder-->
                <Ar>0.0158</Ar>
                <x_r>-0.629</x_r>
                <y_r>0</y_r>
                <z_r>0.084</z_r>

                <!--Main Sail-->
                <Asm>0.59</Asm>
                <pm1>0.159</pm1>
                <pm2>0.219</pm2>
                <z_sm>-1.032</z_sm>
                <!--Fore Sail-->
                <Asf>0.54</Asf>
                <pf1>0.741</pf1>
                <pf2>0.369</pf2>
                <z_sf>-0.913</z_sf>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>