KERNEL=="ttyUSB*",DEVPATH=="/devices/pci0000:00/0000:00:14.0/usb1/1-2*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="0777", SYMLINK+="ahrs"
