<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- imu -->
  <xacro:macro name="sailboat_imu_gazebo" params="name">

  <gazebo>
    <!--<plugin name="gazebo_imu_plugin" filename="libhector_gazebo_ros_gps.so">-->
      <!--<updateRate>10.0</updateRate>-->
      <!--<alwaysOn>true</alwaysOn>-->
      <!--<bodyName>base_link</bodyName>-->
      <!--<frame_id>odom</frame_id>-->

      <!--<topicName>imu/imu</topicName>-->
      <!--<serviceName>imu/imu_service</serviceName>-->

      <!--<accelOffset>0.0 0.0 0.0</accelOffset>-->
      <!--<accelDrift>0.0 0.0 0.0</accelDrift>-->
      <!--<accelDriftFrequency>0.00027 0.00027 0.000027</accelDriftFrequency>-->
      <!--<accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise>-->

      <!--<rateOffset>0.0 0.0 0.0</rateOffset>-->
      <!--<rateDrift>0.0 0.0 0.0</rateDrift>-->
      <!--<rateDriftFrequency>0.00027 0.00027 0.000027</rateDriftFrequency>-->
      <!--<rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>-->

      <!--<yawOffset>0.0</yawOffset>-->
      <!--<yawDrift>0.0</yawDrift>-->
      <!--<yawDriftFrequency>0.00027</yawDriftFrequency>-->
      <!--<yawGaussianNoise>0.0</yawGaussianNoise>-->

    <!--</plugin>-->
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <frameName>base_link</frameName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
  </gazebo>
  </xacro:macro>
</robot>
