<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="sailboat">
    <!-- Defines the "sailboat_base" macro -->
    <xacro:include filename="$(find sailboat_gazebo)/urdf/sailboat_base.xacro" />

    <!-- Defines the "usv_gazebo" macro which implements the plugin for USV dynamics -->
    <xacro:include filename="$(find usv_gazebo_plugins)/urdf/usv_gazebo_dynamics_plugin.xacro" />

    <xacro:include filename="$(find sailboat_gazebo_plugins)/urdf/sailboat_gazebo_dynamics_plugin.xacro" />

    <!-- Defines the macro for simulated GPS -->
    <xacro:include filename="$(find sailboat_gazebo)/urdf/gps.xacro" />

    <!-- Defines the macro for simulated IMU -->
    <xacro:include filename="$(find sailboat_gazebo)/urdf/imu.xacro" />

    <!-- Defines the macro for including simulated camera -->
    <xacro:include filename="$(find sailboat_gazebo)/urdf/camera.xacro" />

    <!-- Defines the macro for simulated laser -->
    <!-- <xacro:include filename="$(find sailboat_gazebo)/urdf/laser.xacro" /> -->

    <!-- Call the macros defined above -->
    <!-- includes basic description witout plugins -->
    <xacro:sailboat_base />
    <!-- USV dynamic model -->
    <xacro:sailboat_gazebo name="sailboat"/>

    <!-- Optional sensor plugins - called by macros defined above -->
    <xacro:sailboat_gps_gazebo name="sailboat"/>

    <xacro:sailboat_imu_gazebo name="sailboat"/>

    <xacro:sailboat_camera_gazebo name="sailboat"/>

    <!-- <xacro:sailboat_laser_gazebo name="sailboat"/> -->

    <!-- <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440">
       <origin xyz="0 0 0.4" rpy="0 0 0" />
    </VLP-16> -->

    <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
    <HDL-32E parent="base_link" name="velodyne" topic="/velodyne_points2" hz="10" samples="220">
        <origin xyz="0 0 0.6" rpy="0 0 0" />
    </HDL-32E>

</robot>