#!/usr/bin/env python
PACKAGE = "environment_simulation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#gen.add("int_param",    int_t,    0, "An Integer parameter", 1,  0, 100)
gen.add("motor",double_t,0,"motor",50,-100,100)
gen.add("Sail_Angle", double_t, 0, "Sail_Angle*57.3",    0,  -90,   90)
gen.add("Rudder_Angle", double_t, 0, "Rudder_Angle*57.3",    0,  -50,   50)
#gen.add("str_param",    str_t,    0, "A string parameter",  "Chapter2_dynamic_reconfigure")
gen.add("PC_Ctrl",   bool_t,   0, "PC_Ctrl",  True)

gen.add("is_sim",   bool_t,   0, "is_sim",  False)
# size_enum = gen.enum([ gen.const("Low",      int_t, 0, "Low is 0"),
#                        gen.const("Medium",     int_t, 1, "Medium is 1"),
#                        gen.const("High",      int_t, 2, "Hight is 2")],
#                      "Select from the list")
#
# gen.add("size", int_t, 0, "Select from the list", 1, 0, 3, edit_method=size_enum)

exit(gen.generate(PACKAGE, "environment_simulation", "sailboat_mach_simulation_"))
