<?xml version="1.0"?>
<!-- Base -->
<launch>
    <!-- For setting debug level to debug -->
    <!--<env name="ROSCONSOLE_CONFIG_FILE"-->
         <!--value="$(find sailboat_gazebo)/config/custom_rosconsole.conf"/>-->

    <!-- Command line arguments -->
    <arg name="gui" default="true" />
    <arg name="name" default="sailboat" />
    <arg name="imu" default="true" />
    <arg name="gps" default="true" />
    <arg name="laser" default="true" />
    <arg name="camera" default="true" />

    <param name="use_sim_time" value="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find sailboat_gazebo)/worlds/ocean_ball.world"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="true"/>
    </include>

    <arg name="urdf" default="$(find sailboat_gazebo)/urdf/sailboat_gazebo_base.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg urdf)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
       <param name="publish_frequency" type="double" value="10.0" />
    </node>
    <!-- Spawn robot in gazebo -->
    <node name="spawn_sailboat_model" pkg="gazebo_ros" type="spawn_model"
          args="-x 0.0 -y 0.0 -z 1.0 -R 0.0 -P 0.0 -Y 0.0 -unpause -urdf -param robot_description -model mobile_base"/>

</launch>
