<?xml version="1.0"?>
<!-- Base -->
<launch>

    <node pkg="environment_simulation" type="wind_simulation_pub" name="wind_simulation_pub"/>
    <node pkg="sailboat_gazebo" type="sensor_simulation" name="sensor_simulation"  output="screen"/>
    <node name="state_publisher" pkg="sailboat_tf_tree" type="state_publisher"/>


</launch>
